@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
  }
  button {
    cursor: pointer;
  }
}

@layer components {
  .wmde-markdown {
        @apply p-6;
    }
}